



<div class="row">
	<div class="medium-3 columns">
		
	</div>
	<div class="medium-9 columns">
		
	<h1><%= @registration.user.name %></h1>
	</div>
</div>
<!-- ***********************************************************************************-->
<div class="panel ">
<div class="row">
	<div class="medium-4 columns">
		
	</div>
	<div class="medium-8 columns">
		<%= @registration.user.email %>
	
	</div>
</div>
</div>
<!-- ***********************************************************************************-->
<div class="panel ">
<div class="row">
	<div class="medium-4 columns">
	
	</div>
	<div class="medium-8 columns">
		<%= @registration.how_heard %>
	
	</div>
</div>
</div>