<div class="panel ">
<div class="row">
	<div class="medium-2 columns">
			
	</div>
	<div class="medium-10 columns">
		
	<h1> Project  <%= @fundraising.name %> Editieren </h1>

	</div>
</div>
</div>
<%= render "form" %>